@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca:wght@400&Display=swap');


/* .main{
    width: 100%;
    height: 100vh;
    background-color: white;
    margin: 0px auto;
    padding: 0px auto;
} */
.content{
    padding: 0rem auto;
    height: 31rem;
    margin: 4.35rem 7.5rem ;
    border-radius: 0.625rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
    
}
.sedan{
    background-color: hsl(31, 77%, 52%);
    /* padding:100px 50px; */
    width: 33.3%;
}
.sedan-img{
    padding: 2.81rem 0rem 0.62rem 2.81rem;
}
.sedan h1{
    color: hsla(0, 0%, 100%, 0.75);
    padding-left: 2.81rem;
    padding: 0rem 0rem 1.25rem 2.81rem;
    font-family: 'Big Shoulders Display';
}
.sedan p{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca';
    font-size: 0.9rem;
    padding: 0.15rem 2.8rem 3.1rem 2.81rem;
}
.sedan a{
    color: hsl(31, 77%, 52%);
    margin: 6.25rem 0rem 4rem 2.8rem;
    padding: 1rem 2.5rem;
    border-radius: 3.1rem;
    text-decoration: none;
    background-color:hsl(0, 0%, 95%);
}
.sedan a:hover{
    border: 0.2rem solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
    background-color: inherit;
}
.suvs{
    background-color: hsl(184, 100%, 22%);
    /* padding:100px 50px; */
    width: 33.3%;
}

.suvs-img{
    padding: 2.81rem 0rem 0.62rem 2.81rem;
}
.suvs h1{
    color: hsla(0, 0%, 100%, 0.75);
    padding-left: 2.81rem;
    padding: 0rem 0rem 1.25rem 2.81rem;
    font-family: 'Big Shoulders Display';

}
.suvs p{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca';
    font-size: 0.9rem;
    padding: 0.15rem 2.8rem 3.1rem 2.81rem;
}
.suvs a{
    color: hsl(184, 100%, 22%);
    margin: 6.25rem 0rem 0rem 2.8rem;
    padding: 1rem 2.5rem;
    border-radius: 3.1rem;
    text-decoration: none;
    background-color:hsl(0, 0%, 95%);
}
.suvs a:hover{
    border: 0.2rem solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
    background-color: inherit;
}

.luxury{
    background-color: hsl(179, 100%, 13%);
    /* padding:100px 50px; */
    width: 33.3%;
}

.luxury-img{
    padding: 2.81rem 0rem 0.62rem 2.81rem;
}
.luxury h1{
    color: hsla(0, 0%, 100%, 0.75);
    padding-left: 2.81rem;
    padding: 0rem 0rem 1.25rem 2.81rem;
    font-family: 'Big Shoulders Display';

}
.luxury p{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca';
    font-size: 0.9rem;
    padding: 0.15rem 2.8rem 3.1rem 2.81rem;
}
.luxury a{
    color: hsl(179, 100%, 13%);
    margin: 6.25rem 0rem 4rem 2.8rem;
    padding: 1rem 2.5rem;
    border-radius: 3.1rem;
    text-decoration: none;
    background-color:hsl(0, 0%, 95%);
}
.luxury a:hover{
    border: 0.2rem solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
    background-color: inherit;
}

@media (min-width:0) and (max-width:865px) {
   
.content{
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    width: max-content;
    margin: 2rem auto ;
    padding: 2rem auto;
    justify-content: center;
}
.sedan{
    background-color: hsl(31, 77%, 52%);
    padding:6rem 3rem;
    border-radius: 0.625rem;
}
.suvs{
    background-color: hsl(184, 100%, 22%);
    padding:6rem 3rem;
    border-radius: 0.625rem;
}
.luxury{
    background-color: hsl(179, 100%, 13%);
    padding:6rem 3rem;
    border-radius: 0.625rem;
}

}